.gigDetail-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto; /* Adjust height dynamically */
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  padding: 20px;
}

.gigOwner-container {

  display: flex;
  flex-direction: column;
  flex: 1; /* Adjusts size dynamically */
  min-width: 300px; /* Minimum width for smaller screens */

}

.gigOwner-container h1 {
  text-align: left;
}

.gigOwner-details {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 25px;
  align-items: center;
  font-size: large;
  flex-wrap: wrap; /* Allows wrapping for smaller screens */
}

.gigOwner-details img {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
}

.gigOwner-details p {
  text-align: left;
}

.gigOwner-native {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Adjust layout on smaller screens */
  width: 100%;
  color: grey;
  gap: 10px; /* Adds spacing between items */
}

.gigOwner-about p {
  text-align: left;
  max-width: 80%;
}

.payment-container {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: 100%; /* Full width on smaller screens */
  max-width: 300px; /* Limits the width */
  height: auto;
  padding: 10px 15px;
  margin: 20px 0;
}

.payment-category {
  border-bottom: 1px solid;
}

.payment-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0;
}

.payment-details-container button {
  height: 50px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}

.payment-details-container p {
  text-align: left;
}

.payment-price {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}
.mini-chat-mode {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.mini-chat-mode-icon{
  position: fixed;
  top: 70px;
  left: 520px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.chat-toggle-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  position: fixed;
  bottom: 10px;
  left: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.chat-toggle-button:hover {
  background-color: #e9e9e9;
}

.chat-toggle-button img {
  border-radius: 50%;
  margin-right: 10px;
}



/* Media Queries */
@media (max-width: 768px) {
  .gigDetail-container {
    flex-direction: column;
    /* align-items: center; */
  }

  .gigOwner-details {
    flex-direction: column;
    align-items: flex-start;
  
  }

  .payment-container {
    max-width: 90%;
  }


}

@media (max-width: 480px) {
  .gigOwner-native {
    flex-direction: column;
    gap: 5px;
  }

  .payment-details-container button {
    width: 100%; /* Full-width button on smaller screens */
  }
}
