.gig-card {
 margin-top: 20px;
  border-radius: 8px;
  width: 250px;
}
.gig-card:hover{
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}
.gig-card h3{
  text-align: left;
  padding: 5px 5px;
}
.gig-card p{
  text-align: left;
  font-size: medium;
  padding: 5px 5px;
}

.gig-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gig-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
