.header-section-main{
  display: flex;
  flex-direction: column;
}

.header-section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 70px;
}
  

.input-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.input-section input{
  width: 700px;
  height: 20px;
  font-size: medium;
  padding: 5px;
}
.search-icon{
  padding:10px;
  background-color: black;
  height: 13px;
  border: none;
}

.action-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
}
.profile-dropdown{
  position: absolute;
  top: 90px;
  background-color: white;
  display: flex;
  right: 0;
  align-items: left;
  width: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.profile-dropdown ul{
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  gap: 10px;
}

.categories{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: medium;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 50px;
}

.categories p:hover{
  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: #00A86B;
}

.suggestions-dropdown {
  position: absolute;
  top: 65px;
  width: 49%;
  background: white;
  border: 1px solid #ccc;
  max-height: 200px;
  color: black;
  /* overflow-y: auto; */
  z-index: 100;
  text-align: left;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #f0f0f0;
}
